body{
    margin: 0px;
    background-image: url(img/pattern.jpg);
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
}
main{
    margin: 30px 200px 45px;
    background-color: white;
    padding: 20px 50px 20px;
}
article{
    margin-top: 40px;
    border-bottom: 2px solid black;
}
footer{
    padding: 20px;
    background-color: black; 
}
h5{
    text-align: center;
    color: white;
}